@font-face {
  font-family: 'ad';
  src: url('font/ad.eot'); /* IE9 Compat Modes */
  src: url('font/ad.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('font/ad.woff') format('woff'), /* Pretty Modern Browsers */
       url('font/ad.ttf')  format('truetype'), /* Safari, Android, iOS */ 
	   url("font/ad.ttf") format("opentype");
}
@font-face {
  font-family: 'pg';
  src: url('font/pg.eot'); /* IE9 Compat Modes */
  src: url('font/pg.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('font/pg.woff') format('woff'), /* Pretty Modern Browsers */
       url('font/pg.ttf')  format('truetype'), /* Safari, Android, iOS */ 
	   url("font/pg.ttf") format("opentype");
}
body{
	font-family:"pg";
	font-size:15pt;
	letter-spacing:0px;
	line-height:25px;
	background:#d3d3d3;
}
a{
	color:#000000;
	text-decoration:none;
}
#container{
	background:#eeeeee;
}
#leader{
	font-family:"ad";
	font-size:46pt;
	padding:9mm 0;
	width:728px;
	height:90px;
	background:#979797;
	margin:0 auto;
	color:#afafaf;
}
#nav{
	color:#ffffff;
	padding:3mm 0;
	background:#000000;
	position: relative;
	z-index:10;
	
}
.link{
	padding:0 6mm;
	cursor:pointer;
}
.slink{
	cursor:pointer;
}
.link:hover{
	background:#ffffff;
	color:#000000;
}
#footer{
	font-size:15px;
	background:#d3d3d3;
	padding:4mm 0;
}
#submit{
	margin:3mm 0 0 0;
	padding:1.5mm 0;
	background:#000000;
	color:#FFFFFF;
	cursor:pointer;
-webkit-box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 2px 2px 0px rgba(50, 50, 50, 0.75);
box-shadow:         0px 2px 2px 0px rgba(50, 50, 50, 0.75);
}
#submit:hover{
	background:#999;
	color:#000000;
}
.bttn{
	text-align:center;
	width:20mm;
	margin:3mm 0 0 0;
	padding:1.5mm 0;
	background:#000000;
	color:#FFFFFF;
	cursor:pointer;
-webkit-box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 2px 2px 0px rgba(50, 50, 50, 0.75);
box-shadow:         0px 2px 2px 0px rgba(50, 50, 50, 0.75);
}
.bttn:hover{
	background:#999;
	color:#000000;
}
#tac{
	cursor:pointer;
	width:6mm;
	height:6mm;
	background:#FFFFFF;
	border-radius:3mm;
	border:1px solid #CCC;
	color:#ffffff;
}
.checked{
	color:#000 !important;
	background:#ccc !important;
	border:1px solid #fff !important;
}
.dialog{
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(242,242,242,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(242,242,242,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
	
	padding:10px 14px;
	-moz-box-shadow:    0px 0px 10px 0px #000;
	-webkit-box-shadow: 0px 0px 10px 0px #000;
	box-shadow:         0px 0px 10px 0px #000;
	display:none;
}
input {
background: none;

	margin:9px 0 5px 5px;
	padding:4px 10px;
	border:1px solid #CCC;
	outline:none;
	color:#000;
	background:#fff;
	text-decoration:none;
}
input:focus {
-webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, .3);
-moz-box-shadow:    0px 0px 6px rgba(0, 0, 0, .3);
box-shadow:         0px 0px 6px rgba(0, 0, 0, .3);
}
.break{
	width:100%;
	height:1px;
	background:#ccc;
	margin:10px 0 10px 0;
	clear:both;
}